<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calificaciones Hoteles</title>
    <link rel="stylesheet" href="/../static/css/style.css">
</head>
<body>
    <div class="header">
        <div><img class="logo" src="/../static/images/logo.jpg" alt=""></div>
        <div><p>Calificaciones Hoteles</p></div>
        <div><img class="telefono" src="/../static/images/telefono.png" alt=""> <p>+506 5467 0937</p></div>
    </div>
    <div class="body">
        <form action="#" th:action="@{presentation/hotel/search}" method="post">
<!--            <input type="search" >-->
        </form>
    </div>



</body>
<div class="footer">
    Total Soft Inc
</div>
</html>